# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

build/
dist/
*.egg-info/
_build/
_static
_templates
.DS_Store


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
*_build
.vscode
